$gray-base:       #000 !default;
$gray-darker:     #222 !default;
$gray-dark:       #333 !default;
$gray:            #555 !default;
$gray-light:      #777 !default;
$gray-lighter:    #ccc !default;

$primary:         #337ab7 !default;
$success:         #5cb85c !default;
$info:            #5bc0de !default;
$warning:         #f0ad4e !default;
$danger:          #d9534f !default;

$box-shadow:      0px 3px 6px 1px rgba(0,0,0,0.5);